* {
  background-color: midnightblue;
  color: white;
}

body {
  margin-left: 30px;
  margin-top: 10px;
}

img {
  height: 100px;
}

.meio {
  margin-left: 100px;
}

a {
  text-decoration: none;
  color: yellow;
}